{{#if citation_key}}

<div class="bib_div">
<details data-key="{{citation_key}}" class=ref>
{{!-- citation --}}
<summary class=citation>
<a id="{{citation_key}}">[{{citation_key}}]</a>{{#if entry_type}} <span class="entry-type">({{entry_type}})</span>{{/if}} - {{#if authors}}{{#each authors as |author|}}{{#each author as |name|}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}{{#unless @last}} and {{/unless}}{{/each}} - {{/if}}{{#if title}}{{#if url}}<a href="{{url}}" target="_blank">{{/if}}<cite>{{title}}</cite>{{#if url}}</a>{{/if}}.{{/if}}{{#if editor}} Edited by {{#each editor as |ed|}}{{#each ed as |name|}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}{{#unless @last}} and {{/unless}}{{/each}}.{{/if}} - {{#if pub_year}}{{pub_year}}.{{/if}} -
<button onclick="copyToClipboard('\{\{ #cite {{citation_key}} \}\}')">Copy citation_key</button>
</summary>
{{!-- summary/abstract --}}
{{#if summary}}
<section class=abstract>
<h1>Summary/Abstract</h1>
<div>{{summary}}</div>
</section>
{{/if}}
{{!-- publication details --}}
{{#if volume}}{{#if issue}}{{#if pages}}
<section class=pub-details>
<h1>Publication Details</h1>
<div>
{{#if volume}}Volume {{volume}}{{/if}}{{#if issue}}, Issue {{issue}}{{/if}}{{#if pages}}, pp. {{pages}}{{/if}}
</div>
</section>
{{/if}}{{/if}}{{/if}}
{{!-- publisher information --}}
{{#if publisher}}
<section class=publisher>
<h1>Publisher</h1>
<div>{{publisher}}{{#if address}}, {{address}}{{/if}}</div>
</section>
{{/if}}
{{!-- DOI --}}
{{#if doi}}
<section class=doi>
<h1>DOI</h1>
<div><a href="https://doi.org/{{doi}}" target="_blank">{{doi}}</a></div>
</section>
{{/if}}
{{!-- ISBN/ISSN --}}
{{#if isbn}}
<section class=isbn>
<h1>ISBN</h1>
<div>{{isbn}}</div>
</section>
{{/if}}
{{#if issn}}
<section class=issn>
<h1>ISSN</h1>
<div>{{issn}}</div>
</section>
{{/if}}
{{!-- edition --}}
{{#if edition}}
<section class=edition>
<h1>Edition</h1>
<div>{{edition}}</div>
</section>
{{/if}}
{{!-- organization --}}
{{#if organization}}
<section class=organization>
<h1>Organization</h1>
<div>{{organization}}</div>
</section>
{{/if}}
</details>
</div>

{{/if}}

<br/>
