{{#if citation_key}}

<div class="bib_div">
<details data-key="{{citation_key}}" class=ref>
{{!-- citation --}}
<summary class=citation>
{{#if authors}}{{authors}} - {{/if}}{{#if title}}<cite>{{title}}</cite>.{{/if}} - {{#if pub_year}}{{pub_year}}.{{/if}} -
<button onclick="copyToClipboard('\{\{ #cite {{citation_key}} \}\}')">Copy citation_key</button>
</summary>
{{!-- summary/abstract --}}
{{#if summary}}
<section class=abstract>
<h1>Summary/Abstract</h1>
<div>{{summary}}</div>
</section>
{{/if}}
</details>
</div>

{{/if}}

<br/>